body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: black;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	display: flex;
	justify-content: center;
	font-size: 35px;
}

p {
	font-size: 30px;
	margin: 0;
}

.container {
	width: 1170px;
	margin: 0 auto; 
	padding: 0;
}

/* HEADER */
header {
	background: url(../img/cover/cover.png) no-repeat center;
	padding-top:  10px;
	font-size: 25px;
	padding-bottom: 560px;
	background-size: cover;
}

.logo {
	margin-right: 110px;
}

.menu {
	width: 450px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu.active {
	display: flex;
	flex-direction: column;
	background: #000;
	position: absolute;
	width: 70%;
	right: 0;
	top: 89px;
	padding: 10px 0;
	z-index: 99999999;
}

.menu-open {
	display: none;
	border: 0;
	background: none;
	outline: none;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn1 {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	padding: 0 32px 0 32px;
	cursor: pointer;
}

.nav .btn1:hover {
	color: rgb(119, 119, 119);
}

.nav .btn1.active {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.levikaw {
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	background: url(../img/society/instagram.png) no-repeat left;
	margin-left: 410px;
	padding: 5px 0 5px 40px;
	cursor: pointer;
}

/*COVER*/
.cover {
	display: none;
}

.puzzle {
	width: 20%;
}

.hidden {
	overflow: hidden;
	width: 80%;
}

.cover img {
	width: 100%;
	display: block;
	transition: 1s;
}

.hidden img:hover {
	transform: scale(1.12);
}

.element  {
	display: flex;
	align-items: center;
	background: #c0fff7;
}

#color1 {
	background: #f0eff0;
}

#color2 {
	background: #7a893e;
}

.element p {
	padding: 30px;
}

/* FOOTER */
footer {
	background: #C4C4C4;
	padding: 30px 30px;
}

.footer {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 2px solid #fff;
}

.society {
	width: 110px;
	display: flex;
	justify-content: space-between;
}

.btn {
	padding: 0;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.wrapper .btn1:hover {
	color:rgba(0, 0, 0, 0.25)
}

section.active {
	display: block;
}

/*Адаптив*/

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}

	header {
		padding-bottom: 450px;
	}

	.levikaw {
		margin: 0;
		font-size: 30px;
	}

	.logo {
		margin: 0;
	}

	p {
		font-size: 20px;
	}
}	

/*768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}

	header {
		padding-bottom: 350px;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}

	header {
		padding-bottom: 250px;
	}

	.puzzle {
		width: 30%;
	}

	.menu {
		display: none;
	}

	.menu-open {
		display: block;
	}

	.btn1 {
		margin: 14px;
		font-size: 30px;
		letter-spacing: 0.2em;
	}

	.element {
		display: block;
	}

	.puzzle {
		width: 100%;
		padding: 10px;
	}

	.element p {
		text-align: center;
		padding: 5px;
	}

	.hidden {
		width: 100%;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	header {
		padding-bottom: 140px;
	}
}	
